html {
    background-color: #020101;
    color: #859B99;
    margin: 0;
}

body {
    background-color: #020101;
}

a {
    text-decoration: none;
    color: #859B99;
    text-transform: uppercase;
}

ul {
    list-style: none;
}

img {
    width: 50vw;

}

h1 {
    font-size: 2rem;
}

header {
    background-color: #020101;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

nav {
    display: flex;
    list-style: none;
    font-size: 1.5rem;
}

nav ul {
    display: flex;
    gap: 1rem;
}

nav ul a:hover {
    color: yellow;
}

.NF {
    display: flex;
}


.NF .his {
    display: flex;
    justify-content: end;
    z-index: 1;
    position: relative;
    left: 75vw;

}

.fer {
    display: flex;
    justify-content: end;
    position: relative;
    z-index: 1;
    top: 100vh;
    left: 75vw;

}

.NF .nathan {
    display: flex;
    justify-content: center;
    z-index: 1;
    position: relative;
    z-index: 1;
    top: 50%;
    left: 28vw;

}

.NF .img {
    width: 40rem;
}

.NF .im1 {
    position: relative;
    left: 30rem;
}

.NF .im2 {
    position: relative;
    left: 4rem;
    width: 35rem;

}


.Home {
    display: flex;
    justify-content: end;
    background-color: #020101;

}

.Hope {
    display: flex;
    background-color: #222D2C;
    text-align: center;
    justify-content: space-around;

}

.Hope img {
    margin: 2rem 0;
    width: 35rem;
}

.Hope-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.Hope-Available a {
    color: #859B99;
    padding: 0.5rem;
    border: 1px solid #859B99;
    transition-duration: 2s;
}

.Hope-Available a:hover {
    background-color: #859B99;
    color: black;
}

.Spotify {
    background-color: #181919;
    text-align: center;

}

.Spotify iframe {
    width: 20rem;
    margin: 2rem;
}

.album {
    background-color: #181919;
    text-align: center;

}

.album ul {
    margin: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;

}

.album img {
    width: 15rem;
}

.album img:hover {
    width: 20rem;
}

.store {
    background-color: #D4D3CE;
    text-align: center;
}

.store ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

}

.store img {
    width: 30rem;
    margin: 2rem;

}

.videos {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

footer {
    background-color: #767363;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

footer img {
    width: 30rem;
}